
img{

width: 380px;

border:solid rgb(0, 214, 0) 5px;
border-radius: 20px;


}

hr{

height:5px;
background-color:white;
border-radius: 20px;

}

h1{

    color:rgb(0, 64, 0);
    font-family:'Times New Roman', Times, serif;

}


body{

    justify-self: center;
    background-color: rgb(186, 245, 186);


}

button{

    background-color:green;
    color: white;
    padding: 8px;
    margin:4px;

}

button#beginButton{
    
    margin-left: 135px;

}

button:hover{

    background-color: lightgreen;
    color:rgb(0, 73, 0)

}

section{

background-color: rgb(113, 222, 113);

padding: 30px;
margin: 10px;

border:solid green 2px;
border-radius: 20px;


}

p{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 73, 0)


}

div#questionArea{

    align-self: center;
    width:325px;

}