head{

    justify-content: left;

}


body{

    justify-content: center;
    background-color: rgb(186, 245, 186);

}

button{

    background-color:green;
    color: white;
    
}

button:hover{

    background-color: lightgreen;
    color:rgb(0, 73, 0)

}